# Entornos
.env
.env.*
!.env.example

# Python
__pycache__/
*.py[cod]
*.pyd
*.so
.pytest_cache/
.mypy_cache/
.ruff_cache/
.coverage
htmlcov/
build/
dist/
*.egg-info/

# Virtualenvs
.venv/
venv/
env/

# Logs
*.log

# SO / editor
.DS_Store
Thumbs.db
.vscode/
.idea/

# Mantener las SQLite de demo
!data/*.sqlite
!data/*.db

*.zip